@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --navTxtColor1: rgb(0, 202, 238);
  --navTxtColor1-hover: rgb(0, 217, 255);
  --imageOverlay: rgba(230, 230, 230, 0.488);
  --waterColor1: rgb(0, 127, 155);
  --waterColor2: rgb(128, 223, 243);
  --waterColor3: rgba(1, 103, 131, 0.673);

  --darkTransparentBackground: rgba(255, 255, 255, 0.856);
  --orangeMain: rgb(255, 145, 0);
  --orangeSecondary: rgb(255, 106, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  width: 100%;
}

.nav-container {
  top: 0;
  position: absolute;
  width: 100%;
}

a,
a:hover {
  text-decoration: none;
}

.top-bar {
  background-color: white;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}

.top-bar span {
  color: black;
}

.top-bar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.top-bar li {
  margin: 0px 25px;
}

.top-bar a {
  color: var(--navTxtColor1);
}

.top-bar a:hover {
  color: var(--navTxtColor1-hover);
}

.top-bar a:hover span {
  color: var(--navTxtColor1-hover);
  text-decoration: underline;
}

.top-bar i {
  font-size: 26px;
}

.top-contact-info {
  font-size: 20px;
  margin-left: 10px;
}

nav {
  background: rgba(255, 255, 255, 0.612);
  padding: 5px 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

nav a {
  font-size: 24px;
  color: black;
}

nav a:hover {
  color: var(--navTxtColor1-hover);
  text-decoration: underline;
}

.nav-container {
  width: 100%;
}

.logo-name:hover {
  text-decoration: none;
}

.logo {
  flex: 1;
  padding: 15px;
}

.logo a {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.logo a:hover {
  color: var(--navTxtColor1-hover);
}

.logo img {
  width: clamp(70px, 50%, 200px);
  margin-right: 10px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu li {
  padding: 15px;
  font-size: 16px;
}

.menu-bars {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 1rem;
  z-index: 1;
}

.menu-bars:hover {
  filter: brightness(140%);
}

.bars {
  width: 30px;
  height: 4px;
  background-color: var(--navTxtColor1);
  margin: 8px 0;
  transition: 0.3s;
}

/**** MENU BARS ANIMATION ****/
.change #bar1 {
  transform: rotate(-45deg) translate(-7px, 10px);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: rotate(45deg) translate(-7px, -10px);
}

/**** NAV BAR END  ****/

.hero-container {
  margin-top: 0px;
  width: 100vw;
  height: 400px;
  overflow: hidden;
}

.hero-img {
  position: relative;
  width: 100vw;
  overflow: hidden;
  z-index: 1;
}

.hero-container {
  width: 100%;
}

.hero-img img {
  margin-top: -450px;
  position: relative;
  min-width: 1900px;
  max-width: 100%;
  overflow: hidden;
}

.slogan-container h1 {
  position: absolute;
  z-index: 2;
  top: 320px;
  right: 20px;
  font-style: italic;
  color: #6efaff75;
}

/**** GENERAL SECTIONS ****/

.all-sections-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
}

/**  CURRENT PAGE STYLE */
.current-page-container {
  width: 100%;
  /* background-color: var(--imageOverlay); */
  height: 100px;
  position: relative;
  z-index: 1;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.246),
    rgba(255, 255, 255, 0)
  );
  user-select: none;
}

.current-page-wrapper {
  text-align: center;
  /* color: rgba(0, 0, 0, 0); */
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 5px;
  text-decoration: underline;
  text-transform: uppercase;
  color: rgba(211, 210, 210, 0.869);
  text-shadow: -0.5px -0.5px 0 rgba(0, 0, 0, 0.088),
    0.5px -0.5px 0 rgba(0, 0, 0, 0.088), -0.5px 0.5px 0 rgba(0, 0, 0, 0.088),
    0.5px 0.5px 0 rgba(0, 0, 0, 0.088);
  user-select: none;
  padding: 19px;
  text-shadow: #717171 4px 3px 4px;
}

/** TICKER Section */
.ticker-container {
  position: relative;
  z-index: 1;
  margin-top: 40px;
}

.ticker-wrapper {
  /* background-color: rgba(255, 255, 255, 0.374); */
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 16px solid rgba(255, 255, 255, 0.626);
  border-left: none;
  border-right: none;
  z-index: 2;
}

.ticker-transition {
  display: flex;
  /* transform: translateX(-120rem); */
  animation: tickerAnimation 40s linear infinite;
  /* position: relative; */
}

.ticker-transition:hover {
  animation-play-state: paused;
}

.ticker-item {
  margin: auto 0px;
  padding: 10px 40px;
}

.ticker-item img {
  max-width: 250px;
  border-radius: 10px;
}

@keyframes tickerAnimation {
  0% {
    transform: translate3d(185rem, 0, 0);
  }

  100% {
    transform: translate3d(-220rem, 0, 0);
  }
}

/** END TICKER SECTION */

/** OFFER SECTION */

.offer-container {
  position: relative;
  display: flex;
  /* margin: 30px; */
  /* flex-wrap: nowrap; */
  justify-content: space-evenly;
  z-index: 1;
}

.offer-wrapper {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.357);
  width: 400px;
  height: 140px;
  margin: 40px;
  border-radius: 10px;
  transition: 0.4s;
}

.offer-wrapper:hover {
  box-shadow: none;
  transition: 0.3s ease-out;
  transform: translate(-3px, -3px);
}

.offer-card {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.offer-overlay:hover {
  cursor: pointer;
  background-color: rgba(0, 221, 255, 0.843);
}

.offer-overlay:active {
  background-color: rgba(0, 221, 255, 0.843);
}

.offer-overlay {
  user-select: none;
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 221, 255, 0.523);
  transition: 0.3s;
}

.offer-overlay .overlay-text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offer-card img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.all-sections-container {
  width: 100%;
  position: relative;
}

/******  ABOUT PAGE *******/

.info-cards-container {
  width: 100%;
  min-height: 500px;
  height: auto;
  display: flex;
  overflow: none;
  /* background-color: var(--imageOverlay); */

  justify-content: space-evenly;
  position: relative;
  z-index: 1;
  margin-top: 40px;
  margin-bottom: 100px;
}

.info-cards-container2 {
  background-color: var(--imageOverlay);
}

.info-card {
  width: 40%;
  height: auto;
  /* background-color: white; */
  margin: 20px;
  padding: 20px;
  background-color: rgba(35, 35, 35, 0.863);
  /* background: linear-gradient(
    170deg,
    rgba(233, 233, 233, 0.919) 10%,

    rgba(40, 40, 40, 0.49) 100%
  ); */
  border-radius: 10px;
  box-shadow: 2px 2px 20px 4px rgba(0, 0, 0, 0.789);
}

.info-card .all-you {
  text-decoration: underline;
  text-align: center;
  color: black;
}

.info-card h3 {
  margin: 10px 0px;
}

.info-card h3.h3-center {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: var(--orangeMain);
}

.info-card p {
  text-align: center;
  padding: 0px 0px;
  color: rgb(255, 255, 255);
  margin: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2em;
}

.info-card ul {
  margin: 40px 20px;
  width: auto;
  background-color: rgb(218, 232, 235);
  box-shadow: 0 0 3px 8px rgba(203, 228, 233, 0.891);
  border-radius: 20px;
  padding: 10px;
  padding-left: 40px;
  line-height: 2em;
  list-style: none;
  color: black;
  font-size: 20px;
}
.info-card li i {
  font-size: 24px;
  font-weight: 900;
  padding: 10px;
  color: var(--orangeMain);
  /* margin: auto; */
  position: relative;
}
.info-card li {
  margin: 5px;
  width: auto;
}
.separator-line {
  width: 80%;
  height: 4px;
  border-radius: 30px;
  background: var(--navTxtColor1);
  margin: 20px auto;
  max-width: 400px;
}

.who-location-section .separator-line {
  max-width: 1000px;
}

.about-map-container {
  width: 100%;
  background-color: var(--darkTransparentBackground);
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 220px;
}

.about-map-card {
  padding: 30px;
  padding-left: 70px;
  width: 50%;
  height: auto;
  overflow: hidden;
  border: #000000a4 solid 2px;
}

.about-card-wrapper {
  display: flex;
  justify-content: center;
}
.about-card {
  height: auto;
  padding: 50px;
}
.about-card p {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 100px;
  width: 90%;
  margin: 20px 0px;
  font-size: 18px;
}
.about-card p em {
  font-size: 24px;
}
.about-card h1 {
  font-size: 32px;
}
.about-card h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.colored-text {
  color: var(--waterColor1);
  font-size: 20px;
  font-weight: bolder;
}

.map-text a {
  list-style: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  display: block;
  line-height: 1.7em;
}

.map-text a :hover {
  text-decoration: underline;
  font-weight: bold;
}

.btn-wrapper {
  position: relative;
  display: flex;
  width: 50%;
  justify-content: center;
}

.btn-wrapper a {
  position: relative;
  /* background-color: rgb(255, 106, 0); */
  background-color: var(--waterColor1);
  padding: 15px 40px;
  margin: 20px;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn-wrapper a:hover {
  filter: brightness(120%);
  text-decoration: underline;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);

  /* box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1); */
}

/***  MAP IMAGE  ***/
.map-img-wrapper {
  text-align: center;
}

.map-img-wrapper img {
  position: relative;
  text-align: center;
  width: 600px;
}

.faq {
  /* margin-top: 100px; */
  /* width: 100%; */
  height: auto;
  z-index: 1;
  position: relative;
  display: flex;
  overflow: none;
  background-color: var(--darkTransparentBackground);
  justify-content: space-evenly;
  padding-top: 100px;
  border-radius: 40px;

  /* margin: 50px 100px; */
  width: 70%;
  margin: 100px auto;
  color: white;
}

.faq-section {
  width: 70%;
  margin: auto;
  margin-bottom: 100px;
}

.faq h1 {
  text-align: center;
  padding: 20px;
  font-size: 32px;
}

.faq h1::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: white;
}

.faq-wrapper h3 {
  color: var(--navTxtColor1-hover);
  text-align: center;
}

.faq-wrapper p {
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
}

/*** END ABOUT PAGE ***/
/***********************/

/** PRODUCTS PAGE   */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 50px auto;
  z-index: 1;
}

/* Hide the images by default */
.slides {
  display: none;
  background-color: #007f9b;
  border-radius: 20px;
}

.slides p {
  color: rgb(255, 255, 255);
  padding: 20px 80px;
}

.slides img {
  max-height: 500px;
  border-radius: 20px;

  /* width: 100px; */
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20px 30px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #007f9b;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--waterColor2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 28px;
  padding: 8px 12px;
  top: 99%;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.mini-img-container {
  position: relative;
  z-index: 1;
}

.mini-imgs {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.29);
  justify-content: center;
}

.mini-img {
  /* background-color: rgba(175, 175, 175, 0.386); */

  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 50px auto;
  height: 300px;
  padding: 30px;
}

.mini-img:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: all 0.3s;
}

.mini-img h3 {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
}

.mini-img img {
  margin: auto;
  width: 200px;
  border-radius: 8px;
  border: rgba(0, 0, 0, 0.228) 3px solid;
}

/** END PRODUCTS PAGE */

/***  page IMAGE STUFF **/

.background-img-container img {
  position: fixed;
  width: 100%;
  height: 100vh;
  object-fit: cover;

  filter: blur(5px);
  top: 0px;
}

/****  CONTACT US STYLES ****/

.contact-container {
  width: 100%;
  position: relative;
  z-index: 1;
}

.contact-container-overlay {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  z-index: 0;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.782); */
}

.contact-section {
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
  margin: 50px;
  width: 40%;
  height: auto;
  z-index: 1s;
  background-color: var(--waterColor1);
}

.contact-section form {
  width: 80%;
  margin-top: 50px;
  margin: auto;
}

form input,
textarea {
  width: 90%;
  border-radius: 5px;
  margin: 20px 10px;
  padding: 5px;
  font-size: 18px;
  border: none;
  height: 35px;

  /* background-color: ; */
}

form textarea {
  height: 100px;
}

.submit-btn {
  justify-content: space-around;
  display: flex;
  margin: 40px;
}

#submit-btn {
  padding: 10px;
  width: 70%;

  border-radius: 10px;
  border: none;
}

.form-header {
  text-align: center;
  margin: 20px;
  color: white;
}

#submit-btn {
  font-size: 20px;
}

.contact-info-card {
  width: 80%;
  height: auto;
  margin: 80px;
}

.contact-info-card p {
  margin: 40px 30px;
  font-size: 16px;
}

/*** END CONTACT PAGE ***/

/** VENDOR PAGE */

.vendor-section {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  display: flex;
  height: 260px;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.vendor-wrapper {
  position: relative;
  width: 90%;
  display: flex;
  /* flex-wrap: wrap; */
  z-index: 1;
  border-radius: 30px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.348) 10%,
    40%,
    rgba(236, 234, 234, 0.695) 100%
  );
  box-shadow: 0px 5px 10px 8px rgba(0, 0, 0, 0.208);
}
.vendor-section:last-child {
  margin-bottom: 200px;
}

.vendor-img-wrapper {
  z-index: 1;
  position: relative;
  height: auto;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vendor-img-wrapper a {
  display: flex;
  justify-content: center;
}

.vendor-img-wrapper img {
  /* position: absolute; */
  border-radius: 10px;
  max-height: 70%;
  max-width: 70%;
  position: relative;

  box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.357);
}

.vendor-txt-wrapper {
  display: flex;
  width: 40%;
  min-width: 00px;
  height: auto;
  border-radius: 20px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.571);
  padding: 10px;
  margin: auto 20px auto auto;
  border: outset 5px rgba(255, 255, 255, 0.47);
  /* margin-bottom: 0px; */
}

.vendor-txt-wrapper p {
  letter-spacing: 0.05em;
  word-spacing: 0.2em;
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin: auto;
  line-height: 25px;
}

.vendor-txt-wrapper em {
  font-size: 22px;
  letter-spacing: 2px;

  color: var(--orangeMain);
}

/** END VENDOR PAGE  */

/*** FOOTER ****/
.footer {
  position: absolute;
  z-index: 1;

  background: linear-gradient(
    0deg,
    var(--waterColor1) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  width: 100%;
}

.container {
  max-width: 1200px;
  padding: 50px;
  margin: auto;
}

.footer ul {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 33.33%;
  padding: 0px 15px;
}

.footer-col h4 {
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: relative;
  color: white;
}

.footer-col h4::before {
  content: "";
  background-color: var(--waterColor2);
  height: 2px;
  width: 50px;
  left: 0;
  bottom: -10px;
  box-sizing: border-box;
  position: absolute;
  /* z-index: 1; */
}

.footer-col ul li {
  margin-bottom: 5px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  display: block;
  color: rgb(216, 216, 216);
  transition: all 0.4s ease;
}

.footer-col ul li a:hover {
  color: #6efaff;
  padding-left: 8px;
}

/** END FOOTER */

/** Thank you */
.thanks-container {
  width: 50%;
  min-height: 310px;
  height: auto;
  position: relative;
  z-index: 1;
  display: flex;
  margin: auto;
  padding: 20px;
  display: block;
  border-radius: 20px;
  text-align: center;
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.734);
  margin-bottom: 500px;
}
.thanks-container h1 {
  margin: 50px;
  font-size: 40px;
  color: var(--navTxtColor1);
  font-weight: bold;
}

@media screen and (max-width: 750px) {
  nav {
    display: block;
    position: relative;
  }

  nav a {
    font-size: 16px;
    font-weight: 1000;
  }

  .logo img {
    width: 80px;
  }

  .nav-company-name {
    display: none;
  }

  .hero-img img {
    margin-top: -450px;
  }

  .menu-bars {
    right: 1em;
    display: block;
  }

  .menu {
    display: none;
  }

  .top-contact-info {
    display: none;
  }

  .menu-active ~ .menu {
    display: flex;
  }

  .offer-container {
    flex-wrap: wrap;
  }

  .offer-wrapper {
    width: 300px;
    height: 100px;
    margin: 20px 10px;
  }

  .info-cards-container {
    display: flex;
    flex-wrap: wrap;

    height: auto;
  }

  .about-map-card {
    width: 100%;
  }

  .info-card {
    width: 100%;
  }
  .info-card ul {
    left: 0;
    padding-left: 0;
  }
  .info-card ul li {
    font-size: 18px;
    position: relative;
    left: 0;
  }
  .info-card ul i {
    font-size: 16px;
  }

  .contact-section {
    width: 95%;
  }
  .contact-info-card {
    margin: 0;
  }

  .map-img-wrapper img {
    width: 90%;
  }
  .about-card {
    width: 100%;
    padding: 0;
    /* background-color: black; */
  }

  .about-card p {
    /* padding: 30px 10px; */
    padding: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */
    /* height: 500px; */
  }

  .footer-col {
    width: 70%;
    margin: 20px;
  }

  .mini-img-container {
    display: none;
  }

  .vendor-section {
    height: auto;
  }
  .vendor-wrapper {
    height: auto;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }

  .vendor-img-wrapper {
    height: auto;

    display: flex;
    justify-content: center;
    width: 100%;
  }
  .vendor-img-wrapper img {
    position: relative;
    max-width: 70%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .vendor-txt-wrapper {
    margin-top: 0;
    width: 70%;
    /* margin: auto; */
    padding: 0;
    margin: 10px auto 20px auto;
    /* display: inline; */
  }
  .vendor-txt-wrapper p {
    font-size: 14px;
    padding: 20px;
    word-spacing: normal;
  }
  .thanks-container {
    width: 90%;
  }
}
